Options FollowSymlinks Multiviews

RewriteEngine On
RewriteRule ^cache/						/ [forbidden]
RewriteRule ^library/					/ [forbidden]
RewriteRule ^templates/					/ [forbidden]
RewriteRule ^config.ini					/ [forbidden]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /index.php

AddDefaultCharset utf-8