{unset($this->validate);}

{if ($this->input->inputType == "hidden")}
	{return;}
{/}

{if (!isset($this->input->regexp))}
	{if (isset($this->input->options->minlength))}
		{$this->len = '{'. $this->input->options->minlength;}
	{:}
		{$this->len = '{1,';}
	{/}

	{$this->len .= $this->input->options->maxlength .'}';}

	{if ($this->input->valueType == "string")}
		{$this->validate = '~^.'. $this->len .'$~m';}
	{/}
	{if ($this->input->valueType == "numeric")}
		{$this->validate = '~^\d'. $this->len .'$~';}
	{/}
{:}
	{$this->validate = $this->input->regexp;}
{/}