{if (!$this->exception instanceof Basic_Exception)}
	<h2>Unexpected exception</h2>
	<p>{exception->getMessage()}</p>

	{return;}
{/}

<h2 title="{exception->name}">This is an error {exception->code}</h2>
{if ($this->exception instanceof Basic_DatabaseQueryException)}
	<pre>{exception->getMessage()}</pre>
{/}
<p>{exception->getMessage()}</p>

{if ($this->exception->trace)}
	<pre>{exception->trace}</pre>
{/}

{if ($this->exception->cause)}
	<hr />
	<h2>Caused by:</h2>

	{$this->exception = $this->exception->cause;}
	{$this->show('exception');}
{/}