<form method="{formData.method}" action="{formData.action}" id="userinput">
<table>

{*formData.inputs:$input_name>$input}
	{?input.header}<tr class="header"><td colspan="2"><h3>{input.header}</h3></td></tr>{/}

	{?input.input_type!="hidden"}
		<tr title="{input.description}" class="{input.state}{?input.is_required} required{/}">
		<td>{input.name}:</td>
		<td>
	{/}

	{?input.input_type=="text" || input.input_type=="password" || input.input_type=="hidden"}
		<input type="{input.input_type}" name="{input.source.key}" id="{input.source.key}"{?input.options.maxlength} maxlength="{input.options.maxlength}"{/}{?input.raw_value} value="{input.raw_value}"{/} />
	{/}

	{?input.input_type=="radio" || input.input_type=="checkbox"}
		{*input.values:$value>$description}
			<label>
				<input type="{input.input_type}" name="{input.source.key}" id="{input.source.key}" value="{value}"{?value==input.value} checked="checked"{/} />
				{description}
			</label>
			<br />
		{/}
	{/}

	{?input.input_type=="select"}
		<select name="{input.source.key}">
			{*input.values:$value>$description}
				{z=$is_array}{@is_array}{description}{/}{z/}
				{?is_array}
					<optgroup label="{value}">
						{*description:$sub_value>$sub_description}
							<option value="{sub_value}"{?sub_value==input.value} selected="selected"{/} />
								{sub_description}
							</option>
						{/}
					</optgroup>
				{:}
					<option value="{value}"{?value==input.value} selected="selected"{/} />
						{description}
					</option>
				{/}
			{/}
		</select>
	{/}

	{?input.input_type=="textarea"}
		<textarea name="{input.source.key}">{input.raw_value}</textarea>
	{/}

	</td></tr>
{/}

<tr><td colspan="2" style="text-align: center;"><input type="submit" value="submit"/></td></tr>
</table>
</form>