{foreach ($this->input->values as $this->value => $this->description}
	{if (is_array($this->rawValue))}
		{$this->selected = in_array($this->value, $this->rawValue);}
	{:}
		{$this->selected = ($this->value == $this->rawValue);}
	{/}

	<input
		class="{if ($this->input->required)}required {/}{state}"
		type="{input->inputType}"
		name="{input->source['key']}{if (input->valueType == "array"}[]{/}"
		id="{input->source['key']}_{value}"
		value="{value}"{if ($this->isSelected)} checked="checked"{/}
	/>
	<label for="{input->source['key']}_{value}">{description}</label>
{/}