<select class="{if ($this->input->required)}required {/}{state}" name="{input->source['key']}{if ($this->input->options['multiple'])}[]{/}" id="{input->source['key']}"{if ($this->input->options['multiple'])} multiple="multiple" size="3"{/}>
	{foreach ($this->input->values as $this->value => $this->description)}
		{if (is_array($this->description))}
			<optgroup label="{value}">
				{foreach ($this->description as $this->subValue => $this->subDescription)}
					<option value="{subValue}"{if ($this->subValue == $this->rawValue)} selected="selected"{/}>
						{subDescription}
				{/}
			</optgroup>
		{:}
			<option{if ($this->value != $this->description)} value="{value}"{/}{if ($this->value == $this->rawValue)} selected="selected"{/}>
				{description}
		{/}
	{/}
</select>