<select class="{if ($this->input->required)}required {/}{state}" name="{input->source['key']}{if ('array' == $this->input->valueType)}[]{/}" id="{input->source->key}">
	{foreach ($this->input->values as $this->value => $this->description)}
		{if (is_array($this->description))}
			<optgroup label="{value}">
				{foreach ($this->description as $this->subValue => $this->subDescription)}
					<option value="{subValue}"{if ($this->subValue == $this->input->rawValue)} selected="selected"{/}>
						{subDescription}
					</option>
				{/}
			</optgroup>
		{:}
			<option value="{value}"{if ($this->value == $this->input->rawValue)} selected="selected"{/}>
				{description}
			</option>
		{/}
	{/}
</select>