{unset($this->pattern);}

{if (!isset($this->input->regexp))}
	{if (isset($this->input->minLength))}
		{$this->len = chr(123). $this->input->minLength;}
	{:}
		{$this->len = chr(123). '1,';}
	{/}

	{$this->len .= $this->input->maxLength .chr(125);}

	{if ($this->input->valueType == "string")}
		{$this->pattern = '~^.'. $this->len .'$~m';}
	{/}
	{if ($this->input->valueType == "numeric")}
		{$this->pattern = '~^\d'. $this->len .'$~';}
	{/}
{:}
	{$this->pattern = trim($this->input->regexp, '~');}
{/}

<input
	 class="{if ($this->input->required)}required {/}{state}"
	 type="{input->inputType}"
	 name="{input->source['key']}{if ($this->input->options['multiple'])}[]{/}"
	 id="{input->source['key']}"
	{if ($this->input->maxLength)} maxlength="{input->maxLength}"{/}
	{if ($this->input->options['placeholder'])} placeholder="{input->options['placeholder']}"{/}
	{if ($this->rawValue)} value="{rawValue}"{/}
	{if (isset($this->pattern))} pattern="{pattern}"{/}
	 />